<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>History of Computing</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container" th:fragment = "history">
  <h1>History Of Computing</h1>
  <h3>First Generation Computers : Vacuum Tubes</h3>
  <p>
    This computer is made of vacuum tubes, for digital logic and also memory. This computer was developed under
    the <b>Institute of Advanced Study IAS</b> by  <i>John Van Newman</i>. The computer consists of the following components.
  </p>
  <ol>
    <li>
      Main Memory
    </li>
    <li>
      Arithmetic login unit (ALU)
    </li>
  </ol>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>